<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
<head>
  <meta charset="utf-8">
  <meta name=renderer  content=ie-stand>
  <title>卡操作</title>
  <th:block th:replace="head-css.html"></th:block>
</head>
<body>	
<div class="row">
<div class="col-md-7">
<div class="box">
<div class="box-header with-border">
卡初始化
</div> 
<div class="box-body with-border">
<table style="width:100%">
    <tr>
    <td style="width:40%">	
    <label class="radio-inline">
        <input type="radio" name="card_type"  value="0" checked>实物卡
    </label>
    
    <label class="radio-inline">
        <input type="radio" name="card_type"  value="1">价拨卡
    </label>
    <label class="radio-inline">
        <input type="radio" name="card_type"  value="2">机动卡
    </label>   
    </td>
    <td style="width:20%"><input class="form-control" type="text" id="card_no" value="" placeholder="请输入卡号" /></td>
    <td style="width:20%"><input class="form-control" type="text" id="card_password" value="0000" placeholder="请输密码"/></td>
    <td style="width:20%"><button id="btn_init_card" class="btn btn-block btn-info"  >初始化卡</button></td>
    </tr>
</table>
</div>
</div>
</div>
<div class="col-md-3">
<div class="box"> 
<div class="box-header with-border">
卡清除
</div>
<div class="box-body with-border">
    <button style="width:45%" class="btn btn-success" >读卡</button>
    <button style="width:45%" class="btn btn-danger" >卡清除</button>
</div>
</div>
</div>
<div class="col-md-2">
<div class="box"> 
<div class="box-body with-border">
    <object id="card"  CLASSID="CLSID:A9C48ED1-F5BB-4E90-B78E-31E076B92838" ></object>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="box"> 
<div class="box-header with-border">
卡有效
</div>
<div class="box-body with-border">
<table>
    <tr>
        <td style="width:20%">
            <button class="btn btn-success btn-block" onClick="card.Conn();document.getElementById('w_25').value = card.ReadCardInfo(25);card.DisConn();">读卡</button>
        </td>
        <td><input type="text" class="form-control" name="card_no" value="" placeholder="卡号"/></td>
        <td><input type="text" class="form-control" name="card_no" value="" placeholder="有效 标志"/></td>
        <td style="width:20%">
           <button class="btn btn-success btn-info" >修改卡有效</button>
        </td>
     </tr>
</table>
</div>
</div>
</div>
<div class="col-md-6">
<div class="box"> 
<div class="box-header with-border">
卡有效期
</div>
<div class="box-body with-border">
<table>
<tr>
<td style="width:20%">
<button class="btn btn-success btn-block" >读卡</button>
</td>
<td><input type="text" class="form-control" name="card_no" value="" placeholder="卡号"/></td>
<td><input type="text" class="form-control" name="card_no" value="" placeholder="有效期"/></td>
<td style="width:20%">
<button class="btn btn-success btn-info" >修改卡有效期</button>
</td>
</tr>
</table>
</div>
</div>
</div>
</div>
<!-- <div class="row">
<div class="col-md-12">
<div class="box"> 
<div class="box-header with-border">
卡解灰
<input type="button" class="btn btn-info" value="读卡" id="btn1" onmouseover="add('btn1',h_10_3_1);" onmouseout="remove(h_10_3_1);" onclick="if(OpenCard(card.Conn())){readCard();if(document.getElementById('c_6').value==''){alert('请放置IC卡');card.DisConn();}else{ajaxrefesh('search','/iccard/cardjiehui.do?method=view&mileage='+document.getElementById('c_23').value+'&cardcode='+document.getElementById('c_6').value.replace(/ /g,''));}}"/>
<input type="button" class="btn btn-success" value=" 解灰 " disabled/>
</div>
<div class="box-body with-border">
<table border="1" width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td>卡号</td>
		<td><input type="text" id="c_6" class="inputtxt" readonly/></td>
		<td>卡类型</td>
		<td><input type="text" id="c_2" class="inputtxt" readonly/></td>
		<td>指标类型</td>
		<td><input type="text" id="Gtype" class="inputtxt" readonly/></td>
	</tr>
	<tr>
		<td>车牌号</td>
		<td><input type="text" id="c_9" class="inputtxt" readonly/></td>
		<td>车类型</td>
		<td><input type="text" id="c_10" class="inputtxt" readonly/></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>有效标志</td>
		<td><input type="text" id="c_4" class="inputtxt" readonly/></td>
		<td>有效期</td>
		<td><input type="text" id="c_3" class="inputtxt" readonly/></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>记灰标志</td>
		<td><input type="text" id="c_5" class="inputtxt" readonly/></td>
		<td>记灰日期</td>
		<td><input type="text" id="c_22" class="inputtxt" readonly/></td>
		<td>记灰时间</td>
		<td><input type="text" id="5" class="inputtxt" readonly/></td>
	</tr>
</table>

<div id="search"> 
<table border="1" class="table table-border">
	<tr>卡记灰信息</tr>
	<tr>
		<td width="13%">卡号</td>
		<td width="20%">&nbsp;</td>
		<td width="13%">车牌号</td>
		<td width="20%">&nbsp;</td>
		<td width="13%">所属部门</td>
		<td width="21%">&nbsp;</td>
	</tr>
	<tr>
		<td>油品</td>
		<td>&nbsp;</td>
		<td>卡余额</td>
		<td>&nbsp;</td>
		<td>卡状态</td>
		<td>&nbsp;</td>
	</tr>
</table>
</div>
</div>
</div>
</div>-->

<th:block th:replace="head-js.html"></th:block>
<script type='text/javascript' th:inline="javascript">
	$("#btn_init_card").on('click',function(){
		$(this).attr('disabled',true);
		card_init();
		$(this).attr('disabled',false);
		
	});
	//初始化函数
	function card_init(){		
	card_operation(function(flag){		
		//alert(flag);
		switch(flag){
			case 0: alert('正常卡，无法初始化！！！');return;
			//case 1: alert('正常卡，无法初始化！！！');return;
			case 2: alert('参数卡，无法初始化！！！');return;
			//case 4: alert('卡已经发放，无法初始化！！！');return;
			case 6: alert('灰卡，无法初始化！！！');return;
			case 7: alert('无效卡，无法初始化！！！');return;		
		}
		var card_no=$("#card_no").val();	
		if(card_no.length==0){
			alert('输入值为空');
			$("#init").addClass('has-warning');
			return;
		}else if(isNaN(card_no)){
			alert('请输入数字');
			return;
		}
		var card_password=$("#card_password").val();
		
		var card_type=$("input[name='card_type']:checked").val();
		if(card_type==1){
			card.InitCard(card_no, card_password);
			var cardcode=card.ReadCardInfo(6);
			var result="";
			for(var i=0;i<cardcode.length;i++){
				if(i==6)
					result=result+'j';
				else	
					result=result+cardcode[i];
			}
			card.WriteCardInfo(6,result);
			card.WriteCardInfo(2,'1');
		}
		else if(card_type==2){
			card.InitCard(card_no, card_password);
			card.WriteCardInfo(2,'2');
		}
		else 
			card.InitCard(card_no, card_password);
		$("#card_no").val(parseInt(card_no)+1);
		});	
	}
	
</script>
</body>
</html>
