<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
<head>
  <meta charset="utf-8">
  <title>卡操作</title>
  <th:block th:replace="head-css.html"></th:block>
</head>
<body>	
<div class="row">
<div class="col-md-6">
<div class="box">
<div class="box-header with-border">
卡初始化
</div> 
<div class="box-body with-border">
<table>
<tr>
<td>	
    <label class="radio-inline">
        <input type="radio" name="card_type"  value="0" checked>实物卡
    </label>
    
    <label class="radio-inline">
        <input type="radio" name="card_type"  value="1">价拨卡
    </label>
    <label class="radio-inline">
        <input type="radio" name="card_type"  value="2">机动卡
    </label>   
</td>
<td style="width:20%">	<input class="form-control" type="text" name="card_no" value="" placeholder="请输入卡号" /></td>
<td style="width:20%">	<input class="form-control" type="text" name="card_password" value="0000" placeholder="请输密码"/></td>
<td><button id="" class="btn btn-block btn-info"  onclick="init();">初始化卡</button></td>
</tr>
</table>
</div>
</div>
</div>
<div class="col-md-6">
<div class="box"> 
<div class="box-header with-border">
卡清除
</div>
<div class="box-body with-border">
<button class="btn btn-success" >读卡</button>
<button class="btn btn-danger" >卡清除</button>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="box"> 
<div class="box-header with-border">
卡有效
</div>
<div class="box-body with-border">
<table>
<tr>
<td>
<button class="btn btn-success" onClick="card.Conn();document.getElementById('w_25').value = card.ReadCardInfo(25);card.DisConn();">读卡</button>
</td>
<td><input type="text" class="form-control" name="card_no" value="" placeholder="卡号"/></td>
<td><input type="text" class="form-control" name="card_no" value="" placeholder="有效 标志"/></td>
<td>
<button class="btn btn-success" >使能卡有效</button>
</td>
</tr>
</table>
</div>
</div>
</div>
<div class="col-md-6">
<div class="box"> 
<div class="box-header with-border">
卡有效期
</div>
<div class="box-body with-border">
<table>
<tr>
<td>
<button class="btn btn-success" >读卡</button>
</td>
<td><input type="text" class="form-control" name="card_no" value="" placeholder="卡号"/></td>
<td><input type="text" class="form-control" name="card_no" value="" placeholder="有效期"/></td>
<td>
<button class="btn btn-success" >修改卡有效</button>
</td>
</tr>
</table>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="box"> 
<div class="box-header with-border">
卡解灰
</div>
<div class="box-body with-border">
<table width="100%" border="0"  cellpadding="0" cellspacing="0">
	<tr align="center" class="headtr">
		<td>
			<span class="head">卡信息</span>
		</td>
	</tr>
</table>
<table border="1" width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td>卡号</td>
		<td><input type="text" id="c_6" class="inputtxt" readonly/></td>
		<td>卡类型</td>
		<td><input type="text" id="c_2" class="inputtxt" readonly/></td>
		<td>指标类型</td>
		<td><input type="text" id="Gtype" class="inputtxt" readonly/></td>
	</tr>
	<tr>
		<td>车牌号</td>
		<td><input type="text" id="c_9" class="inputtxt" readonly/></td>
		<td>车类型</td>
		<td><input type="text" id="c_10" class="inputtxt" readonly/></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>有效标志</td>
		<td><input type="text" id="c_4" class="inputtxt" readonly/></td>
		<td>有效期</td>
		<td><input type="text" id="c_3" class="inputtxt" readonly/></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>记灰标志</td>
		<td><input type="text" id="c_5" class="inputtxt" readonly/></td>
		<td>记灰日期</td>
		<td><input type="text" id="c_22" class="inputtxt" readonly/></td>
		<td>记灰时间</td>
		<td><input type="text" id="5" class="inputtxt" readonly/></td>
	</tr>
</table>
<br>
<input type="button" class="btn btn-info" value="读卡" id="btn1" onmouseover="add('btn1',h_10_3_1);" onmouseout="remove(h_10_3_1);" onclick="if(OpenCard(card.Conn())){readCard();if(document.getElementById('c_6').value==''){alert('请放置IC卡');card.DisConn();}else{ajaxrefesh('search','/iccard/cardjiehui.do?method=view&mileage='+document.getElementById('c_23').value+'&cardcode='+document.getElementById('c_6').value.replace(/ /g,''));}}"/>
<input type="button" class="btn btn-success" value=" 解灰 " disabled/>
<br><br>

<div id="search"> 
<table border="1" class="table table-border">
	<tr>卡记灰信息</tr>
	<tr>
		<td width="13%">卡号</td>
		<td width="20%">&nbsp;</td>
		<td width="13%">车牌号</td>
		<td width="20%">&nbsp;</td>
		<td width="13%">所属部门</td>
		<td width="21%">&nbsp;</td>
	</tr>
	<tr>
		<td>油品</td>
		<td>&nbsp;</td>
		<td>卡余额</td>
		<td>&nbsp;</td>
		<td>卡状态</td>
		<td>&nbsp;</td>
	</tr>
	<tr><td><OBJECT ID="card"  CLASSID="CLSID:A9C48ED1-F5BB-4E90-B78E-31E076B92838" ></OBJECT>
    </td></tr>
</table>
</div>
</div>
</div>
</div>
</div>
<th:block th:replace="head-js.html"></th:block>
<script type='text/javascript' th:inline="javascript">
function init(){
	var s;
	var result=card.Conn(); 
	alert(result);
	for(var  i ; i<4;i++){
		s=card.InitCard('123456', '0000');
		//alert(s);
		if s==1 break;
	}
	alert(s);
	card.DisConn(); 
}
$(function(){	
	var cartypeinfo=[[${carTypeInfos}]];
	var departInfos=[[${departInfos}]];
	var array_car=new Array();
	var array_depart=new Array();
	for(i in cartypeinfo){
		//array_car[i]={name:cartypeinfo[i].autoCarType2,label:cartypeinfo[i].name};	
		array_car[i]={value:cartypeinfo[i].autoCarType2,text:cartypeinfo[i].name};
	}
	for(i in departInfos){
		//array_depart[i]={name:departInfos[i].departmentCode,label:departInfos[i].departmentName};	
		array_depart[i]={value:departInfos[i].departmentCode,text:departInfos[i].departmentName};	
	}
    var table=$('#table_infos').DataTable({
		'pageLength' : 10,
		'lengthChange' : false,
		'searching' : true,
		'info' : true,
		'autoWidth' : false,
	  	"bDestroy":true,
   		"bRetrieve":true,   		 
   		"select": {
   	        style: 'single',
   	        info: false
   	    },
	  	"ajax": "oil-type-manager/datas",
	  	"columns": [
	  		{ "data": "id"},
            { "data": "name" },     
            { "data": "oilType"},
            { "data": "density" },
            { "data": "departmentCode"}
        ],
    	"oLanguage": { //国际化配置  
			"sProcessing" : "正在获取数据，请稍候...",    
			"sLengthMenu" : "显示 _MENU_ 条",    
			"sZeroRecords" : "没有您要搜索的内容",    
			"sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",    
			"sInfoEmpty" : "记录数为0",    
			"sInfoFiltered" : "(全部记录数 _MAX_ 条)",    
			"sInfoPostFix" : "",    
			"sSearch" : "搜索",
			"sUrl" : "",    
			"oPaginate": {    
				"sFirst" : "首页",    
				"sPrevious" : "<<",    
				"sNext" : ">>",    
				"sLast" : "尾页"    
			}
    	}
    	/* "createdRow":function(row,data,index){    		
    		$('td',row).eq(index).attr('class','input-cell');
    	} */
	});  
    var table=$('#stations_infos').DataTable({
		'pageLength' : 10,
		'lengthChange' : false,
		'searching' : true,
		'info' : true,
		'autoWidth' : false,
	  	"bDestroy":true,
   		"bRetrieve":true,   		 
   		"select": {
   	        style: 'single',
   	        info: false
   	    },
	  	"ajax": "gas-station-manager/datas",
	  	"columns": [
	  		{ "data": "id"},
            { "data": "name" },
            { "data": "code"  },
            { "data": "danwei" },
            { "data": "flag" }
        ],
    	"oLanguage": { //国际化配置  
			"sProcessing" : "正在获取数据，请稍后...",    
			"sLengthMenu" : "显示 _MENU_ 条",    
			"sZeroRecords" : "没有您要搜索的内容",    
			"sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",    
			"sInfoEmpty" : "记录数为0",    
			"sInfoFiltered" : "(全部记录数 _MAX_ 条)",    
			"sInfoPostFix" : "",    
			"sSearch" : "搜索",
			"sUrl" : "",    
			"oPaginate": {    
				"sFirst" : "首页",    
				"sPrevious" : "<<",    
				"sNext" : ">>",    
				"sLast" : "尾页"    
			}
    	}
    });    
    $("#table_infos").on("click","td",function(){
        var local=$(this);
        //local.css("background-color","gray"); 
        var value=local.text();
        var index=local.index();
        //alert(value+' '+index);
        switch(index){
        case 1:
        	local.editable({
        		//inputclass: "inputclass",
        		showbuttons:  false,
                type: "text",                //编辑框的类型。支持text|textarea|select|date|checklist等
                //title: "用户名",              //编辑框的标题
                //disabled: false,             //是否禁用编辑
                emptytext: value,          //空值的默认文本
                mode: "inline",              //编辑框的模式：支持popup和inline两种模式，默认是popup
                validate: function (value) { //字段验证
                    if (!$.trim(value)) {
                        return '不能为空';
                    }
                }});break; 
        case 2:
        	local.editable({      
        		showbuttons:  false,
                type: "text",                //编辑框的类型。支持text|textarea|select|date|checklist等
                title: "部门信息",              //编辑框的标题             
                source:array_depart,
                disabled: false,             //是否禁用编辑
                //text: value,
                //emptytext: value,          //空值的默认文本
                mode: "inline",              //编辑框的模式：支持popup和inline两种模式，默认是popup
                validate: function (value) { //字段验证
                    if (!$.trim(value)) {
                        return '不能为空';
                    }
                }});break; 
        case 3:
        	local.editable({          		 
                type: "text",                //编辑框的类型。支持text|textarea|select|date|checklist等
                title: "车辆品牌",              //编辑框的标题
                disabled: false,             //是否禁用编辑
                source:array_car,
                emptyvalue: value,          //空值的默认文本
                mode: "inline",              //编辑框的模式：支持popup和inline两种模式，默认是popup
                validate: function (value) { //字段验证
                    if (!$.trim(value)) {
                        return '不能为空';
                    }
                }});break; 
      /*   case 4:
        	local.editable({          		 
                type: "text",                //编辑框的类型。支持text|textarea|select|date|checklist等
                title: "用户名",              //编辑框的标题
                disabled: false,             //是否禁用编辑
                emptytext: "空文本",          //空值的默认文本
                mode: "inline",              //编辑框的模式：支持popup和inline两种模式，默认是popup
                validate: function (value) { //字段验证
                    if (!$.trim(value)) {
                        return '不能为空';
                    }
                }});break;  */
        case 5:
        	local.editable({          		 
                type: "text",                //编辑框的类型。支持text|textarea|select|date|checklist等
                title: "用户名",              //编辑框的标题
                disabled: false,             //是否禁用编辑
                emptytext: "空文本",          //空值的默认文本
                mode: "inline",              //编辑框的模式：支持popup和inline两种模式，默认是popup
                validate: function (value) { //字段验证
                    if (!$.trim(value)) {
                        return '不能为空';
                    }
                }});break; 
        case 6:
        	local.editable({          		 
                type: "text",                //编辑框的类型。支持text|textarea|select|date|checklist等
                title: "用户名",              //编辑框的标题
                disabled: false,             //是否禁用编辑
                emptytext: "空文本",          //空值的默认文本
                mode: "inline",              //编辑框的模式：支持popup和inline两种模式，默认是popup
                validate: function (value) { //字段验证
                    if (!$.trim(value)) {
                        return '不能为空';
                    }
                }});break;
        }
	});
    $('#addRow').on('click',function(){
    	table.rows.add([
    		{"id":0,
    		 "autoCarCode":"请输入车号",
    		 "passportName":0,
    		 "autoCarColor2":0,
    		 "autoCarType2":25,
    		 "carIdentify":null,
    		 "carBrand":null,
    		 "driverName":"请输入使用人",
    		 "departmentCode":"",
    		 "telephoneNumber":"请输入联系电话",
    		 "passportNumber":null,
    		 "fastDate":"",
    		 "operator":"0501",
    		 "tflag":0,
    		 "note2":null,
    		 "counter":0,
    		 "carBrandName":"请选择车辆类型",
    		 "departmentName":"请选择部门",
    		 "name":null}
        ])
        .draw();
    });
    $('#deleteRow').on('click',function(){
    	var rowdata=table.row('.selected').data();
    	console.info(rowdata.autoCarCode);
    	var result=confirm("确定删除"+rowdata.autoCarCode+"信息");
    	if(result==false) return;
    	$.ajax({
    		url:"depart-manager/edit",
    		type: 'post',
    		data:{"action":"delete","autoCarCode":rowdata.autoCarCode,"id":rowdata.id},
    		success:function(result){
				alert(result);
			}
    	});
    	if(result==true)
    		table.row('.selected').remove().draw( false );
    });
    $('#updateRow').on('click',function(){
    	var tds=$("#table_infos").find(".selected").children('td');
    	var rowdata=table.row('.selected').data();
    	var autoCarCode;
    	var departmentCode;
    	var carBrand;
    	var pastDate;
    	var driverName;
    	var telephoneNumber;
    	tds.each(function(j){
    		switch(j){
    		case 1: autoCarCode=$(this).text();break;
    		case 2: departmentCode=$(this).text();break;
    		case 3: carBrand=$(this).text();break;
    		case 4: fastDate=$(this).text();break;
    		case 5: driverName=$(this).text();break;
    		case 6:	telephoneNumber=$(this).text();break;
    		}
    	});    	
    	var result=confirm("确定更新"+autoCarCode+"信息");
    	if(result==false) return;
    	$.ajax({
    		url:"car-manager/edit",
    		type: 'post',    		
    		data:{"action":"update",
    			  "autoCarCode":autoCarCode,
    			  "departmentCode":departmentCode,
    			  "carBrand":carBrand,
    			  "fastDate":fastDate,
    			  "driverName":driverName,
    			  "telephoneNumber":telephoneNumber,
    			  "name":rowdata.autoCarCode},
    		success:function(result){
				alert(result);
			}
    	});
    });
    $('#confirmRow').on('click',function(){
    	var tds=$("#table_infos").find(".selected").children('td');
    	var rowdata=table.row('.selected').data();
    	var autoCarCode;
    	var departmentCode;
    	var carBrand;
    	var pastDate;
    	var driverName;
    	var telephoneNumber;
    	tds.each(function(j){
    		switch(j){
    		case 1: autoCarCode=$(this).text();break;
    		case 2: departmentCode=$(this).text();break;
    		case 3: carBrand=$(this).text();break;
    		case 4: fastDate=$(this).text();break;
    		case 5: driverName=$(this).text();break;
    		case 6:	telephoneNumber=$(this).text();break;
    		}
    	});   	
    	console.info(departmentCode);
    	if(autoCarCode=='请输入车号'){
    		alert("请输入车号");
    		return false;
    	}else if(departmentCode=='请选择部门'){
    		alert("请选择部门");
    		return false;
    	}else if(carBrand=='请选择车辆类型'){
    		alert("请选择车辆类型");
    		return false;
    	}else if(driverName=='请输入使用人'){
    		alert("请输入使用人");
    		return false;
    	}else if(telephoneNumber=='请输入联系电话'){
    		alert("请输入联系电话");
    		return false;
    	}
    	
    	//console.info(rowdata.autoCarCode);
    	var result=confirm("确定添加"+autoCarCode+"信息");
    	if(result==false) return ;
    	$.ajax({
    		url:"car-manager/edit",
    		type: 'post',
    		data:{"action":"insert",
  			  "autoCarCode":autoCarCode,
  			  "departmentCode":departmentCode,
  			  "carBrand":carBrand,
  			  "fastDate":fastDate,
  			  "driverName":driverName,
  			  "telephoneNumber":telephoneNumber,
  			  "name":rowdata.autoCarCode
  			},
  			success:function(result){
				alert(result);
			},
			error:function(XMLHttpRequest, textStatus, errorThrown){
				alert(XMLHttpRequest.status); 
				alert(XMLHttpRequest.readyState); 
				alert(textStatus); 
			}
    	});    	
    });
})
</script>
</body>
</html>
