<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
<head>
  <meta charset="utf-8">
  <meta name=renderer  content=ie-stand>
  <title>圈存</title>
  <th:block th:replace="head-css.html"></th:block>
</head>
<body>
<div class="box"> 
<div class="box-header with-border">

<input id="btn_read_gray_card" style="width:10%" type="button" class="btn btn-success " value="读卡信息"/>
<input id="btn_gray_card" style="width:10%" type="button" class="btn btn-info " value="圈&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp存" disabled/>
</div>
<div class="box-body with-border">
<div class="row">
<div class="col-md-6">
<table class="table table-bordered   table-striped table-hover" >
	<tr class="success"><td colspan="6" align="center">卡信息</td></tr>
	<tr class="success">
		<td style="width:15%">卡号</td>
		<td><span id="cardcode"></span></td>
		<td style="width:15%">卡类型</td>
		<td><span id="cardtype"></span></td>
		<td style="width:15%">车辆号牌</td>
		<td><span id="carno"></span></td>
	</tr>	
	<tr class="success">
		<td style="width:15%">油品类型</td>
		<td><span id="oiltype"></span></td>
		<td style="width:15%">记灰标志</td>
		<td><span id="grayflag"></span></td>
		<td style="width:15%">记灰日期</td>
		<td><span id="graydate"></span></td>		
	</tr>
</table>
</div>
<div class="col-md-6">
<object id="dukaqi" CLASSID="CLSID:A9C48ED1-F5BB-4E90-B78E-31E076B92838" ></object>
</div>
</div>
</div>
</div>
<div class="box">
<div class="box-body">
<table id="depart_infos" class="table table-hover  table-bordered table-condensed">
	<thead>
		<tr style="font-size: 16px; background-color: rgb(237, 241, 244); align: center">
				<th style="width: 6%">序号</th>
				<th style="width: 12%">卡号</th>
				<th style="width: 12%">车牌号</th>
				<th style="width: 8%">发放类型</th>
				<th style="width: 8%">油品类型</th>
				<th style="width: 8%">指标类型</th>
				<th style="width: 8%">发放量</th>
				<th style="width: 8%">发放日期</th>
				<th style="width: 8%">发放次数</th>
				<th style="width: 8%">写卡标志</th>
				<th style="width: 8%">操作员</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
</div>
</div>
<th:block th:replace="head-js.html"></th:block>
<script type='text/javascript' th:inline="javascript">
	$("#btn_init_card").on('click',function(){
		$(this).attr('disabled',true);
		card_init();
		$(this).attr('disabled',false);
		
	});
	$("#btn_clear_card").on('click',function(){
		$(this).attr('disabled',true);
		card_clear();
		$(this).attr('disabled',false);
		
	});
	$("#btn_valid_card").on('click',function(){
		$(this).attr('disabled',true);
		card_valid();
		$(this).attr('disabled',false);
		
	});//btn_valid_date_read_card
	$("#btn_clear_read_card").on('click',function(){
		$(this).attr('disabled',true);
		card_operation(function(flag){
			var cardcode=dukaqi.readcardinfo(6);
			$('#cardno_clear').val(cardcode);
		});
		$(this).attr('disabled',false);
	});
	$("#btn_valid_read_card").on('click',function(){
		$(this).attr('disabled',true);
		card_operation(function(flag){
			console.info(flag);
			var cardcode=dukaqi.readcardinfo(6);
			var vaildflag=dukaqi.readcardinfo(4);
			$('#cardno_vaild').val(cardcode);
			$('#flag_valid').val(vaildflag==0?'正常卡':'无效卡');
			/* if(flag!=7){
				$('#cardno_vaild').val(cardcode);
				$('#flag_vaild').val('不是无效卡');
			} */
		});
		$(this).attr('disabled',false);
	});
	$("#btn_valid_date_card").on('click',function(){
		$(this).attr('disabled',true);
		card_operation(function(flag){
			//console.info(flag);
			var cardcode=$('#cardno_date').val();
			var vailddate=$('#valid_date').val();
			var cardcode_read=dukaqi.readcardinfo(6);
			if(cardcode_read==cardcode){
				//console.info(cardcode_read+" "+cardcode+" "+vailddate);
				//console.info(vailddate.replace(/-/g,""));替换字符-
				dukaqi.writecardinfo(3,vailddate.replace(/-/g,""));
			}			
		});
		$(this).attr('disabled',false);
	});
	$("#btn_valid_date_read_card").on('click',function(){
		$(this).attr('disabled',true);
		card_operation(function(flag){
			//console.info(flag);
			var cardcode=dukaqi.readcardinfo(6);
			var vailddate=dukaqi.readcardinfo(3);
			$('#cardno_date').val(cardcode);
			$('#valid_date').val(vailddate.substr(0,4)+"-"+vailddate.substr(4,2)+"-"+vailddate.substr(6,2));
		});
		$(this).attr('disabled',false);
	});
	//有效 
	function card_valid(){
	card_operation(function(flag){
		console.info(flag);
		var result;
		if(flag==7){//无效卡
			result=dukaqi.writecardinfo(4,0);
		}else{
			alert('不是无效卡！！！');
			return;
		}
		if(result==1) alert('卡已有效！！！');
		else alert('有效操作失败！！！');
	});
	}
	//清卡 回收 参数卡 发行卡
	function card_clear(){
	card_operation(function(flag){
		console.info("卡状态: "+flag);
		console.debug(dukaqi);
		console.info($("#dukaqi"));
		switch(flag){
			case 0: alert('正常卡，无法清除！！！');return;
			//case 1: alert('正常卡，无法初始化！！！');return;
			//case 2: alert('参数卡，无法初始化！！！');return;
			//case 4: alert('卡已经发放，无法初始化！！！');return;
			case 3: alert('卡已清除！！！');return;
			case 6: alert('灰卡，无法清除！！！');return;
			case 7: alert('无效卡，无法清除！！！');return;		
		}
		var result=dukaqi.clearcard('0000');
		if(result==0) alert('卡已清除！！！');
		else alert('清除操作失败！！！');
	});
	}
	//初始化函数 
	function card_init(){		
	card_operation(function(flag){		
		//alert(flag);
		switch(flag){
			case 0: alert('正常卡，无法初始化！！！');return;
			//case 1: alert('正常卡，无法初始化！！！');return;
			case 2: alert('参数卡，无法初始化！！！');return;
			//case 4: alert('卡已经发放，无法初始化！！！');return;
			case 6: alert('灰卡，无法初始化！！！');return;
			case 7: alert('无效卡，无法初始化！！！');return;		
		}
		var card_no=$("#card_no").val();	
		if(card_no.length==0){
			alert('输入值为空');
			return;
		}else if(isNaN(card_no)){
			alert('请输入数字');
			return;
		}
		var card_password=$("#card_password").val();
		
		var card_type=$("input[name='card_type']:checked").val();
		if(card_type==1){
			dukaqi.InitCard(card_no, card_password);
			var cardcode=dukaqi.ReadCardInfo(6);
			var result="";
			for(var i=0;i<cardcode.length;i++){
				if(i==6)
					result=result+'j';
				else	
					result=result+cardcode[i];
			}
			dukaqi.WriteCardInfo(6,result);
			dukaqi.WriteCardInfo(2,'1');
		}
		else if(card_type==2){
			dukaqi.InitCard(card_no, card_password);
			dukaqi.WriteCardInfo(2,'2');
		}
		else 
			dukaqi.InitCard(card_no, card_password);
		alert('初始化成功');
		$("#card_no").val(parseInt(card_no)+1);
		});	
	}
	$("#btn_read_gray_card").on('click',function(){
		$(this).attr('disabled',true);
		card_operation(function(flag){
			$("#cardcode").text(dukaqi.readcardinfo(6));
			$("#cardtype").text(dukaqi.readcardinfo(2));
			$("#oiltype").text(dukaqi.readcardinfo(11));
			$("#grayflag").text(dukaqi.readcardinfo(5));
			$("#graydate").text(dukaqi.readcardinfo(22));
			$("#carno").text(dukaqi.readcardinfo(9));
		});
		$(this).attr('disabled',false);
		$("#btn_gray_card").attr('disabled',false);
	});
	$("#btn_gray_card").on('click',function(){
		
		$(this).attr('disabled',true);
		card_operation(function(flag){
			console.info(flag);
			if(flag!=6){
				alert("不是灰卡！！！");
				return;
			}
			dukaqi.writecardinfo(5,0);
			dukaqi.writecardinfo(25,1234);
		});
		$(this).attr('disabled',false);
	});
</script>
</body>
</html>
