
table,td,th{	
	padding:10px;
	border-collapse:collapse;
	text-align:center; 
	border:3px solid #add9c0; 
	border-width:2px 2px 2px 2px; 
	cell-spaceing:10px;
	//font-size:100px;
}
table{
	position:absolute;
	left:0px;
  	top:20%; 
  	width:100%;
}
.box-title{
	font-size:28px;
  	position:absolute;
  	//font-size:18px;
  	left:36%;
  	top:10%;
}
.title_danwei{
	font-size:20px;
	position:absolute;
  	left:90%;
  	top:15%; 
}
#print{
	display: none;
}
#printatgrid{
	display: none;
}