<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
<head>
  <meta charset="utf-8">
  <title>非IC卡消耗管理</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <th:block th:replace="head-css.html"></th:block>
  <!-- <style type="text/css">
  .dataTables_filter,.dataTables_info,.dataTables_paginate,#table_infos{
  	position:relative;
  	top:-40px;
  } 
  </style>-->
  <style type="text/css">
  /* .dataTables_filter{
  	position:relative;
  	//top:-10px;
  }  */
  </style>
 </head>
<body>	
<div class="box">
<div class="box-header with-border">
	<span style="font-size:20px;" >非IC卡消耗录入</span>	
	<div id="toolbar" class="btn-group" style="font-size:24px;position:relative;left:-11%;top:54px;">	
		<button id="addRow" type="button"  class="btn  btn-default">
			<span class="glyphicon glyphicon-plus" aria-hidden="false"></span>新增
		</button>
		<button id="updateRow" type="button" class="btn  btn-default">
			<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
		</button>
		<button id="deleteRow" type="button" class="btn  btn-default">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
		</button>	
		<button id="confirmRow" type="button" class="btn  btn-default" disabled>
			<span class="glyphicon glyphicon-ok" aria-hidden="false"></span>确定
		</button>	
	</div>
	<p class="text-muted well well-sm" style="width:27%;position:absolute;top:-2px;left:20%">录入因特殊原因，未通过IC卡加注的油料。</p>
</div>
<div class="box-body with-border">
<!-- <table style="position:relative;top:42px;"class="table  table-stripe table-bordered table-condensed">
 --><!--   	<thead> -->
  	<!-- <tr>text-align:left;vertical-align:middle;
        <td style="width:6%;"><input id="rowId" type="text" class="form-control" disabled></td>
	    <td style="width:7%"><input id="riqi" type="text" class="form-control" disabled></td>	    
	    <td style="width:6%">
	    <select id="oiltypeId" class="form-control select2" >
            <option value="all">请选择油品</option>
            <option th:each="obj:${oilTypeInfos}" th:value="${obj.name}" th:text="${obj.name}">
	        </option>
       	</select>
	    </td>	   
	    <td ><input id="type" type="text" class="form-control" disabled placeholder="系统生成 不需要输入"></td>
	    <td style="width:10%"><input id="shougongdanwei" type="text" class="form-control" placeholder="请输入自购升数"></td>
	    <td style="width:10%"><input id="volumnl" type="text" class="form-control" disabled></td>	
	    <td style="width:10%"><input id="volumnl" type="text" class="form-control" disabled></td>	
	    <td style="width:10%"><input id="volumnl" type="text" class="form-control" disabled></td>	
	    <td style="width:10%"><input id="memo" type="text" class="form-control" disabled></td>	
	</tr> -->
	
	<!-- <tr style="font-size:14px;background-color:rgb(237, 241, 244);text-align:center">
		<th style="width:6%">序号</th>
		<th style="width:7%">日期</th>
		<th style="width:6%">油品</th>
		<th style="width:6%">类型</th>
		<th style="width:10%">受供单位</th>
		<th style="width:6%">消耗量（升）</th>
		<th style="width:6%">消耗量（吨）</th>	
		<th style="width:6%">操作员信息</th>	
		<th style="width:20%">备注</th>	 
	</tr> -->
<!-- 	<tr>
        <td style="width:6%;"><input style="width:100%" id="rowId" type="text" class="form-control" disabled></td>
	    <td style="width:7%"><input style="width:100%" id="riqi" type="text" class="form-control" disabled></td>	    
	    <td style="width:6%">
	    <select id="oiltype" class="form-control select2" style="width:100%" >
            <option value="all">请选择油品</option>
            <option th:each="obj:${oilTypeInfos}" th:value="${obj.name}" th:text="${obj.name}">
	        </option>
       	</select>
	    </td>	   
	    <td style="width:6%"><input style="width:100%"  id="type" type="text" class="form-control"></td>
	    <td style="width:10%"><input style="width:100%" id="shougongdanwei" type="text" class="form-control" disabled placeholder="受供单位"></td>
	    <td style="width:7%"><input style="width:100%" id="volumnL" type="text" class="form-control" placeholder="消耗量"></td>	
	    <td style="width:7%"><input style="width:100%" id="volumnT" type="text" class="form-control" disabled></td>	
	    <td style="width:8%"><input style="width:100%" id="operator" type="text" class="form-control" disabled placeholder="操作员信息"></td>	
	    <td style="width:20%"><input style="width:100%" id="memo" type="text" class="form-control" placeholder="备注"></td>	
	</tr> -->
<!-- </table>	 -->
<table id="table_infos" class="table table-hover table-stripe table-bordered table-condensed">
  <thead>
  <tr style="font-size:14px;background-color:rgb(237, 241, 244);text-align:center">
		<th style="width:6%">序号</th>
		<th style="width:7%">日期</th>
		<th style="width:11%">油品</th>
		<th style="width:7%">类型</th>
		<th style="width:8%">受供单位</th>
		<th style="width:7%">消耗量（升）</th>
		<th style="width:7%">消耗量（吨）</th>	
		<th style="width:8%">操作员信息</th>	
		<th style="width:18%">备注</th>	 
	</tr>
	<tr id="modify_row">
        <td style="width:6%;"><input style="width:100%" id="rowId" type="text" class="form-control" disabled></td>
	    <td style="width:7%"><input style="width:100%" id="riqi" type="text" class="form-control" disabled></td>	    
	    <td style="width:11%">
	    <select id="oiltype" class="form-control select2" style="width:100%" >
            <option value="all">请选择油品</option>
            <option th:each="obj:${oilTypeInfos}" th:value="${obj.name}" th:text="${obj.name}">
	        </option>
       	</select>
	    </td>	   
	    <td style="width:7%">
		<select id="type" class="form-control select2" style="width:100%" >
            <option value="all">用油类型</option>
            <option value="1">本级消耗</option>
            <option value="2">代供内部</option>
            <option value="3">代供它部</option>
       	</select>
		</td>
	    <td style="width:6%">
	    <select id="shougongdanwei" class="form-control select2" style="width:100%" >
            <option value="all">请选择部门</option>
            <option th:each="obj:${departmentInfos}" th:value="${obj.departmentName}" th:text="${obj.departmentName}">
	        </option>
       	</select>
	    </td>
	    <td style="width:7%"><input style="width:100%;text-align:center;" id="volumnL" type="text" class="form-control" placeholder="消耗量"></td>	
	    <td style="width:7%"><input style="width:100%;" id="volumnT" type="text" class="form-control" disabled></td>	
	    <td style="width:8%"><input style="width:100%" id="operator" type="text" class="form-control" disabled placeholder="操作员信息"></td>	
	    <td style="width:18%"><input style="width:100%" id="memo" type="text" class="form-control" placeholder="备注"></td>	
	</tr>
  </thead>
  <tbody>  
  </tbody>
</table>
</div>
</div>
<th:block th:repalce="head-css.html"></th:block>
<script type='text/javascript' th:inline="javascript">
function loadtable(){
	table.ajax.reload();
}
var table=$('#table_infos').DataTable({
	'pageLength' : 10,
	'lengthChange' : false,
	'searching' : true,
	'info' : true,
	'autoWidth' : false,
	'sort':false,
  	"bDestroy":true,
		"bRetrieve":true,   		 
		"select": {
	        style: 'single',
	        info: false
	    },
  	"ajax": "card-trade-nonIC-manager/datas",
  	"columns": [
  		{ "data": "id"},
        { "data": "tradedate" },
        { "data": "oilname"  },
        { "data": "cardType" },
        { "data": "departmentname" },
        { "data": "volumn" },
        { "data": "volumnt"},
        { "data": "operator"},
        { "data": "remark"}
    ],
	"oLanguage": { //国际化配置  
		"sProcessing" : "正在获取数据，请稍后...",    
		"sLengthMenu" : "显示 _MENU_ 条",    
		"sZeroRecords" : "没有您要搜索的内容",    
		"sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",    
		"sInfoEmpty" : "记录数为0",    
		"sInfoFiltered" : "(全部记录数 _MAX_ 条)",    
		"sInfoPostFix" : "",    
		"sSearch" : "搜索",
		"sUrl" : "",    
		"oPaginate": {    
			"sFirst" : "首页",    
			"sPrevious" : "<<",    
			"sNext" : ">>",    
			"sLast" : "尾页"    
		}
	}
	/* "createdRow":function(row,data,index){    		
		$('td',row).eq(index).attr('class','input-cell');
	} */
});  
$("#table_infos").on("click","tbody tr",function(){
    var local=$(this).children("td");
    $("#rowId").val(local.eq(0).text());
    $("#riqi").val(local.eq(1).text());
    $("#oiltype").val(local.eq(2).text());    
    $("#type").val(local.eq(3).text());
    $("#shougongdanwei").val(local.eq(4).text());
    $("#volumnL").val(local.eq(5).text());
    $("#volumnT").val(local.eq(6).text());
    $("#operator").val(local.eq(7).text());
    $("#memo").val(local.eq(8).text());
}); 
//添加一条记录
$('#addRow').on('click',function(){
	$(this).attr('disabled',true)
    var oiltype=$("#oiltype").val( ); 
	if(oiltype=='all'){
  		alert_advance_info('请选择油品');
   		$(this).attr('disabled',false)
   		return;
   	}  		
    var type=$("#type").val( );
    console.info(typeof(type));
    if(type=='all' || typeof(type)==null){
  		alert_advance_info('请选择用油类型');
   		$(this).attr('disabled',false)
   		return;
   	}
    var shougongdanwei=$("#shougongdanwei").val( );
    if(shougongdanwei=='all'){
  		alert_advance_info('请选择受供单位');
   		$(this).attr('disabled',false)
   		return;
   	}
    var volumnL=$("#volumnL").val();
    if(volumnL==''){
  		alert_advance_info('请输入消耗量');
   		$(this).attr('disabled',false)
   		return;
   	}  	
    
    var memo=$("#memo").val();
    
  	var result=confirm("确定添加"+oiltype+" "+type+" "+shougongdanwei+' '+volumnL);
   	if(result==false) {
   		$(this).attr('disabled',false)
   		return;
   	}
   	$.ajax({
   		url:"card-trade-nonIC-manager/edit",
   		async:false,
   		type: 'post',
   		data:{"action":"insert","danjuhao":danjuhao,"oilName":oiltype,"inputGuideline2":changeNumber},
   		success:function(result){
			alert_advance_info(result);
		}
   	});
   	$(this).attr('disabled',false)
   	loadtable();
});
//删除一条记录
$('#deleteRow').on('click',function(){
	
	$(this).attr('disabled',true)
    var rowId=$("#rowId").val();
    var danjuhao=$("#djhId").val();
    var oiltype=$("#oiltypeId").val();
    var changeNumber=$("#changeNumberId").val(); 
    var result=confirm("确定删除"+danjuhao+" "+oiltype+" "+changeNumber);
    if(result==false){
    	$(this).attr('disabled',false)
    	return;    	
    }
    $.ajax({
    	url:"zigoushiwuyouliao/edit",
    	async:false,
    	type: 'post',
    	data:{"action":"delete","incomID":rowId},
    	success:function(result){
			alert_advance_info(result);
		}
    });
    if(result==true)
    	table.row('.selected').remove().draw( false );
    $(this).attr('disabled',false)
    loadtable();
});
//更新    
$('#updateRow').on('click',function(){
	
	$(this).attr('disabled',true)
    var rowId=$("#rowId").val();
    var danjuhao=$("#djhId").val();
    var oiltype=$("#oiltypeId").val();
    var changeNumber=$("#changeNumberId").val();    	
    if(rowId==''){
    	alert_advance_info('请选择一条操作记录')
    	$(this).attr('disabled',false)
    	return
    }	
    //console.info(danjuhao+' '+oiltype+' '+changeNumber);
    var result=confirm("确定更新"+danjuhao+' '+oiltype+' '+changeNumber+"信息");
    if(result==false){
    	$(this).attr('disabled',false)
    	return;
    }
    $.ajax({
    	url:"zigoushiwuyouliao/edit",
    	type: 'post',
    	async:false,
    	data:{"action":"update","incomID":rowId,"danjuhao":danjuhao,"oilName":oiltype,"inputGuideline2":changeNumber},
    	success:function(result){
			alert_advance_info(result);
		}
    });
    $(this).attr('disabled',false)
    loadtable();
});
</script>
</body>
</html>
