<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <th:block th:replace="head-css.html"></th:block>
</head>
<body>	
<div class="box">
<div class="box-header with-border">
	<div>
	<!-- IC卡信息修改(车牌、油品、卡有效期、指标相关信息) -->
	</div>
	<!--  <table style="width:100%">
	 <tr>
	 	<td align="center">IC卡信息修改(车牌、油品、卡有效期、指标相关信息)</td>
	 	<td style="width:10%"><button  id="readcardinfo"  class="btn btn-info btn-block" >读卡</button></td>
    	<td style="width:10%"><button  id="validcard" class="btn btn-info btn-block" >验证</button></td>
    	<td style="width:10%"><button  disabled id="confirm"  class="btn btn-info btn-block" >确认修改</button></td>
    	<td style="width:10%"><button  id="quotainfo"  class="btn btn-info btn-block" >修改指标信息</button></td>
    	<td style="width:10%"><button  id="validdateinfo" class="btn btn-info btn-block" >修改有效期</button></td>
    	<td style="width:10%"><button  id="oiltypeinfo"  class="btn btn-info btn-block" >修改油品</button></td>
    	<td style="width:10%"><button  id="carcodeinfo"  class="btn btn-info btn-block" >修改车辆号牌</button></td>
	 </tr>
	 </table> -->
</div>
<div class="box-body with-border">
    <table style="width:100%">
    	<tr>
    		<td style="width:13%"><input type="text" class="form-control pull-right" disabled id="card_code" placeholder="请读卡"></td>
			<td style="width:14%">
				<select disabled class="form-control" id="card_type">
					<option value="all">选择卡类型</option>
					<option value="0">实物卡</option>
					<option value="1">价拨卡</option>
					<option value="2">机动卡</option>
				</select>
			</td>
			<td style="width:15%">
				<select disabled class="form-control" id="department_code">
					<option value="all">选择部门</option>
					<th:block th:each="obj:${departInfos}">
					<option th:value="${obj.departmentCode}" th:text="${obj.departmentName}"></option>
					</th:block>					
				</select>
			</td>
			<td style="width:15%">
				<select class="form-control" id="car_code">
					<option value="all">选择车辆</option>
					<th:block th:each="obj:${carInfos}">
					<option th:value="${obj.departmentCode}" th:text="${obj.autoCarCode}"></option>
					</th:block>					
				</select>
			</td>
			<td style="width:10%"><button  id="modify_carcode"  class="btn btn-info btn-block" >修改车辆号牌</button></td> 
			<td style="width:10%">
				<select class="form-control" id="oil_type">
					<option value="all">选择油品</option>
					<th:block th:each="obj:${oilInfos}">
					<option th:value="${obj.oilType}" th:text="${obj.name}"></option>
					</th:block>					
				</select>
			</td> 
			<td style="width:10%"><button  id="modify_oiltype"  class="btn btn-info btn-block" >修改油品信息</button></td> 
			<td style="width:10%">
				<select class="form-control" id="valid_date">
					<option value="all">选择有效期</option>
					<option value="-1">卡已过期</option>
					<option value="0">当年</option>
					<option value="1">一年</option>
					<option value="10">十年</option>
				</select>
				<!-- <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar" ></i>
                  </div>
                  <input type="text" readonly class="form-control pull-right" id="valid_date" placeholder='卡有效期'>
                </div> -->
			</td>
			<td style="width:10%"><button  id="modify_validdate"  class="btn btn-info btn-block" >修改卡有效期</button></td>
			<td rowspan="3"><object id="dukaqi"  CLASSID="CLSID:A9C48ED1-F5BB-4E90-B78E-31E076B92838" ></object></td>
		</tr>	
		<tr>			
			<td><input type="text" class="form-control pull-right" id="fixedquota" placeholder="每月固定指标: 0"></td>
			<td><input type="text" class="form-control pull-right" id="maxoil" placeholder="单次加油限额: 0"></td>
			<td><input type="text" class="form-control pull-right" id="owner" placeholder="联系人"></td>
			<td><input type="text" class="form-control pull-right" id="phone" placeholder="联系电话"></td>	
			<td colspan="2"><input type="text" class="form-control pull-right" id="memo" placeholder="备注"></td>		    			 
    	</tr>
    	<tr>    		
    		<td><input type="text" class="form-control pull-right" id="allowancequota" placeholder="补助指标: 0"></td>
			<td>
				<div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar" ></i>
                  </div>
                  <input type="text" readonly class="form-control pull-right" id="allowancedate" placeholder='补助过期日期'>
                </div>
            </td>
			<td><input type="text" class="form-control pull-right" id="maxcount" placeholder="卡限额指标:500"></td> 
			<td><button  id="modify_quotainfo"  class="btn btn-info btn-block" >修改指标信息</button></td>
			
		</tr>
    </table>
    </div>
</div>
<div class="box">
<div class="box-body with-border">
<table id="cardinfo_table" class="table table-hover  table-bordered table-condensed" style="width:100%">
	<thead>
	<tr style="font-size: 16px; background-color: rgb(237, 241, 244); align: center">
	    <th style="width:3%">序号</th>
		<th style="width:5%">卡号</th>
	    <th style="width:5%">车牌号</th>
	    
		<th style="width:5%">部门</th>				
		<th style="width:5%">油品</th>				
        <th style="width:5%">固定指标</th>
		<th style="width:5%">指标类型</th>
	    <th style="width:5%">库余额</th>
		<th style="width:5%">卡有效期</th>
		<th style="width:5%">卡状态</th>
	</tr>
	</thead>
	<tbody>
	</tbody>
</table>
</div>
</div>    
<th:block th:replace="head-js.html"></th:block>
<script type='text/javascript' th:inline="javascript">
var table;
function loaddata(){
	table=$('#cardinfo_table').DataTable({	
		'pageLength': 		6,
		'bDestroy': 		true,  
		'processing': 		true,
		'searching' : 		true,
		'lengthChange' : 	false,
		'select': {
   	        style: 'single',
   	        info: false
   	    },
   	    "ordering": false, // 禁止排序
		"ajax": {
        	"url": "card_operation_provide/datas",
        	"type": "get",
        	"data":{}
    	},
  		"columns": [
  			{data:"id"},
  			{data:"cardcode"},
  			{data:"autoCarCode"},
  			{data:"departmentname"},
  			{data:"oilType"},
  			{data:"destineGuideline"},
  			{data:"guidelinetype"},
  			{data:"cardCount"},
  			{data:"fillCardterm"},
  			{data:"cardstatus"}
  		],
		"oLanguage": { //国际化配置  
			"sProcessing" : "正在获取数据，请稍候...",    
			"sLengthMenu" : "显示 _MENU_ 条",    
			"sZeroRecords" : "没有您要搜索的内容",    
			"sInfo" : "记录数为 _TOTAL_ 条    当前 _PAGE_页",// _PAGE_ _START_ 到  _END_ 条记录 ",    
			"sInfoEmpty" : "记录数为0",    
			"sInfoFiltered" : "(全部记录数 _MAX_ 条)",    
			"sInfoPostFix" : "",    
			"sSearch" : "搜索",
			"sUrl" : "",    
			"oPaginate": {    
				"sFirst" : "首页",    
				"sPrevious" : "<<",    
				"sNext" : ">>",    
				"sLast" : "尾页"    
			}
		}    	
	})	
}
$(function(){
    loaddata()
    $('#allowancedate').datepicker({
        todayHighlight:true,    	
        keyboardNavigation:true,
        clearBtn:true,
        autoclose:true,
        language:'zh-Cn',
        format:'yyyy-mm-dd'
    })
    /* $('#valid_date').datepicker({
        todayHighlight:true,    	
        keyboardNavigation:true,
        clearBtn:true,
        autoclose:true,
        language:'zh-Cn',
        format:'yyyy-mm-dd'
    }) */
    //$('#card_type').val('0');
    //$('#card_type').trigger('change');
})
var valid_date;
$("#cardinfo_table").on("click","tr",function(){
	var local=$(this).children("td");
	var card_code=local.eq(1).text() 
    $("#card_code").val(card_code); 
    $("#car_code").find("option:contains('"+local.eq(2).text()+"')").attr("selected",true);
    $("#department_code").find("option:contains('"+local.eq(3).text()+"')").attr("selected",true);
    $("#oil_type").val(local.eq(4).text());
    $("#fixedquota").val(local.eq(5).text());
    valid_date=local.eq(8).text()
    var year=new Date().getFullYear()
    //console.info(String(valid_date).substr(0,4)+' '+year);
    if(String(valid_date).substr(0,4)==year){
    	$("#valid_date").find("option:contains('当年')").attr("selected",true);
    }else if(String(valid_date).substr(0,4)<year){
    	$("#valid_date").find("option:contains('卡已过期')").attr("selected",true);
    }else if(parseInt(String(valid_date).substr(0,4))-parseInt(year)==1){
    	$("#valid_date").find("option:contains('一年')").attr("selected",true);
    }
    else if(parseInt(String(valid_date).substr(0,4))-parseInt(year)==10){
    	$("#valid_date").find("option:contains('十年')").attr("selected",true);
    }    
    var quota_type=local.eq(6).text()
    var car_code=local.eq(2).text()
    if(quota_type=='1'){
    	$("#card_type").find("option:contains('价拨卡')").attr("selected",true);
    }else if(quota_type=='0'){
    	if(car_code==""){
    		$("#card_type").find("option:contains('机动卡')").attr("selected",true);
    	}else{
    		$("#card_type").find("option:contains('实物卡')").attr("selected",true);
    	}
    }
    $.ajax({
    	url:'card_operation_modify/getcardinfo',
    	type:'post',
    	data:{"cardcode":card_code},
    	success:function(data){
    		//$('#fixedquota').val();
    		$('#maxoil').val(data.carLimit);
    		$('#owner').val(data.owner);
    		$('#phone').val(data.phone);
    		$('#allowancequota').val(data.buzhuzhibiao);
    		$('#allowancedate').val(data.buzhuDate);
    		$('#maxcount').val(data.maxcount);
    		$('#memo').val(data.memo)
    	},
    	error:function(xhr){
    		alert(xhr);
    	}
    });
});
//修改车辆号牌
$('#modify_carcode').on('click',function(){
	$(this).attr('disabled',true);
	var cardcode =$("#card_code").val();
	var carcode =$("#car_code").find("option:selected").text();
	console.info(cardcode+'---'+carcode);
	$.ajax({
		url:'card_operation_modify/update',
    	type:'post',
    	data:{"cardcode":cardcode,'flag':'carcode','autoCarCode':carcode},
    	success:function(data){
    		alert(data);
    	},
    	error:function(xhr){
    		alert(xhr.status+' '+xhr.repsonseText);
    	}
	});
	$(this).attr('disabled',false)
});
//修改油品
$('#modify_oiltype').on('click',function(){
	$(this).attr('disabled',true);
	var cardcode =$("#card_code").val();
	var oiltype =$("#oil_type").val();
	//console.info(cardcode+'---'+$("#oil_type").val());
	$.ajax({
		url:'card_operation_modify/update',
    	type:'post',
    	data:{"cardcode":cardcode,'flag':'oiltype','oilType':oiltype},
    	success:function(data){
    		alert(data);
    	},
    	error:function(xhr){
    		alert(xhr.status+' '+xhr.repsonseText);
    	}
	});
	$(this).attr('disabled',false)
});
//修改有效期
$('#modify_validdate').on('click',function(){
	$(this).attr('disabled',true);
	var cardcode =$("#card_code").val();
	var validdate =$("#valid_date").val();
	var year=new Date().getFullYear()
	validdate=parseInt(validdate)+parseInt(year)+"-12-25"	
	$.ajax({
		url:'card_operation_modify/update',
    	type:'post',
    	data:{"cardcode":cardcode,'flag':'valid_date','fillCardterm':validdate},
    	success:function(data){
    		alert(data);
    		loaddata();    		
    	},
    	error:function(xhr){
    		alert(xhr.status+' '+xhr.repsonseText);
    	}
	});
	$(this).attr('disabled',false)
});
//修改指标信息
$('#modify_quotainfo').on('click',function(){
	$(this).attr('disabled',true);
	var cardcode =$("#card_code").val();
	if(typeof(card_code) == "undefined"  || cardcode==""){
		alert('请选择卡信息');
		return;
	}
	var fixedquota=$("#fixedquota").val();
	var maxoil=$("#maxoil").val();
	var owner=$("#owner").val();
	var phone=$("#phone").val();
	var memo=$("#memo").val();
	var allowancequota=$("#allowancequota").val();
	var allowancedate=$("#allowancedate").val();
	var memo=$("#memo").val();
	var maxcount=$("#maxcount").val();
	if(typeof(fixedquota) == "undefined"  || fixedquota==""){
		fixedquota=0
	}
	if(typeof(maxcount) == "undefined"  || maxcount==""){
		maxcount=0
	}
	if(typeof(maxoil) == "undefined"  || maxoil==""){
		maxoil=0
	}
	if(typeof(allowancequota) == "undefined"  || allowancequota==""){
		allowancequota=0
	}	
	$.ajax({
		url:'card_operation_modify/update',
    	type:'post',
    	data:{"cardcode":cardcode,'flag':'quota_info','destineGuideline':fixedquota,'carLimit':maxoil,'owner':owner,'phone':phone,'memo':memo,'buzhuzhibiao':allowancequota,'buzhuDate':allowancedate,'maxcount':maxcount},
    	success:function(data){
    		alert(data);    				
    	},
    	error:function(xhr){
    		alert(xhr.status+' '+xhr.repsonseText);
    	}
	});
	$(this).attr('disabled',false)
});
</script>
</body>
</html>
