<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
<head>
  <meta charset="utf-8">
  <meta name=renderer  content=ie-stand>
  <title>卡操作</title>
  <th:block th:replace="head-css.html"></th:block>
</head>
<body>
<div class="row">
<div class="col-md-6">
<div class="box">
<div class="box-header with-border">
读卡信息 
<input id="btn_read_gray_card" style="width:20%" type="button" class="btn btn-success" value="读卡"/>
</div>
<div class="box-body with-border">
<table class="table table-bordered table-hover" >
	<tr class="success">
		<td colspan="3" align="center">卡信息</td>
		<td colspan="1" align="center">卡状态</td>
		<td class="info" colspan="2" align="center" id="card_status"></td>
	</tr>
	<tr class="info">
		<td style="width:15%">卡号</td>
		<td ><span id="cardcode"  ></span></td>
		<td style="width:15%">卡类型</td>
		<td ><span id="cardtype"></span></td>
		<td style="width:15%">车辆号牌</td>
		<td ><span id="carno"></span></td>
	</tr>	
	<tr class="info">
		<td>油品类型</td>
		<td  ><span id="oiltype"></span></td>
		<td>记灰标志</td>
		<td  ><span id="grayflag"></span></td>
		<td>记灰日期</td>
		<td  ><span id="graydate"></span></td>		
	</tr>
	<tr class="info">
		<td>卡上余额</td>
		<td  ><span id="balance"></span></td>
		<td>消费次数</td>
		<td  ><span id="tradecounter"></span></td>
		<td>有效期</td>
		<td  ><span id="validdate"></span></td>		
	</tr>
	<tr class="success">
		<td colspan="6" align="center">
		<object id="dukaqi" CLASSID="CLSID:A9C48ED1-F5BB-4E90-B78E-31E076B92838" ></object>
		</td>
	</tr>
</table>
</div>
</div>
</div>

<div class="col-md-6">
<div class="box">
<div class="box-header with-border">
卡初始化
</div> 
<div class="box-body with-border">
<table style="width:100%">
    <tr>
    <td style="width:40%">	
    <label class="radio-inline">
        <input type="radio" name="card_type"  value="0" checked>实物卡
    </label>
    
    <label class="radio-inline">
        <input type="radio" name="card_type"  value="1">价拨卡
    </label>
    <label class="radio-inline">
        <input type="radio" name="card_type"  value="2">参数卡
    </label>   
    </td>
    <td style="width:20%"><input class="form-control" type="text" id="card_no" value="" placeholder="请输入卡号" /></td>
    <td style="width:20%"><input class="form-control" type="text" id="card_password" value="0000" placeholder="请输密码" disabled/></td>
    <td style="width:20%"><button id="btn_init_card" class="btn btn-block btn-info"  >初始化卡</button></td>
    </tr>
</table>
</div>
</div>
</div>
<div class="col-md-6">
<div class="box"> 
<div class="box-header with-border">
卡清除
</div>
<div class="box-body with-border">
<table style="width:100%"><tr>
    <td style="width:30%"><button id="btn_clear_read_card" class="btn btn-success btn-block" >读卡</button></td>
    <td style="width:40%"><input type="text" class="form-control" disabled id="cardno_clear" value="" placeholder="卡号"/></td>
    <td style="width:30%"><button id="btn_clear_card" class="btn btn-danger btn-block" >清卡</button></td>
</tr></table>
</div>
</div>
</div>
<div class="col-md-6 ">
<div class="box"> 
<div class="box-header with-border">
卡有效
</div>
<div class="box-body with-border">
<table>
    <tr>
        <td style="width:20%">
            <button id="btn_valid_read_card" class="btn btn-success btn-block" >读卡</button>
        </td>
        <td><input type="text" class="form-control" disabled id="cardno_vaild" value="" placeholder="卡号"/></td>
        <td><input type="text" class="form-control" disabled id="flag_valid" value="" placeholder="有效 标志"/></td>
        <td style="width:20%">
           <button id="btn_valid_card"  class="btn btn-success btn-info" >修改卡有效</button>
        </td>
     </tr>
</table>
</div>
</div>
</div>
<div class="col-md-6 col-md-offset-6">
<div class="box"> 
<div class="box-header with-border">
卡有效期
</div>
<div class="box-body with-border">
<table>
<tr>
<td style="width:20%">
<button id="btn_valid_date_read_card" class="btn btn-success btn-block" >读卡</button>
</td>
<td><input type="text" class="form-control" disabled id="cardno_date" value="" placeholder="卡号"/></td>
<td><input type="text" class="form-control" disabled id="valid_date"  value="" placeholder="有效期"/></td>
<td style="width:20%">
<button id="btn_valid_date_card" class="btn btn-success btn-info" >修改卡有效期</button>
</td>
</tr>
</table>
</div>
</div>
</div>

<!-- <div class="col-md-6 col-md-offset-6">
<div class="box"> 
<div class="box-header with-border">
卡解灰
<input id="btn_read_gray_card" style="width:10%" type="button" class="btn btn-success " value="读卡"/>
<input id="btn_gray_card" style="width:10%" type="button" class="btn btn-info " value="解灰 " disabled/>
</div>
<div class="box-body with-border">
<table class="table table-bordered   table-striped table-hover" >
	<tr class="info"><td colspan="6" align="center">卡记灰信息</td></tr>
	<tr class="info">
		<td width="10%">卡号</td>
		<td width="20%"><span id="query_cardcode"></span></td>
		<td width="10%">车牌号</td>
		<td width="20%"><span id="query_carno"></span></td>
		<td width="10%">所属部门</td>
		<td width="20%"><span id="query_depart"></span></td>
	</tr>
	<tr class="info">
		<td>油品</td>
		<td ><span id="query_oiltype"></span></td>
		<td>加油量</td>
		<td><span id="query_volumn"></span></td>
		<td>卡余额</td>
		<td><span id="query_balance"></span></td>		
	</tr>
</table>
</div>
</div>
</div> -->
</div>

<th:block th:replace="head-js.html"></th:block>
<script type='text/javascript' th:inline="javascript">
	$("#btn_init_card").on('click',function(){
		$(this).attr('disabled',true);
		card_init();
		$(this).attr('disabled',false);
		
	});
	$("#btn_clear_card").on('click',function(){
		$(this).attr('disabled',true);
		card_clear();
		$(this).attr('disabled',false);
		
	});
	$("#btn_valid_card").on('click',function(){
		$(this).attr('disabled',true);
		card_valid();
		$(this).attr('disabled',false);
		
	});//btn_valid_date_read_card
	$("#btn_clear_read_card").on('click',function(){
		$(this).attr('disabled',true);
		card_operation(function(flag){
			var cardcode=dukaqi.readcardinfo(6);
			$('#cardno_clear').val(cardcode);
		});
		$(this).attr('disabled',false);
	});
	$("#btn_valid_read_card").on('click',function(){
		$(this).attr('disabled',true);
		card_operation(function(flag){
			console.info(flag);
			var cardcode=dukaqi.readcardinfo(6);
			var vaildflag=dukaqi.readcardinfo(4);
			$('#cardno_vaild').val(cardcode);
			$('#flag_valid').val(vaildflag==0?'正常卡':'无效卡');
			/* if(flag!=7){
				$('#cardno_vaild').val(cardcode);
				$('#flag_vaild').val('不是无效卡');
			} */
		});
		$(this).attr('disabled',false);
	});
	$("#btn_valid_date_card").on('click',function(){
		$(this).attr('disabled',true);
		card_operation(function(flag){
			//console.info(flag);
			var cardcode=$('#cardno_date').val();
			var vailddate=$('#valid_date').val();
			var cardcode_read=dukaqi.readcardinfo(6);
			if(cardcode_read==cardcode){
				//console.info(cardcode_read+" "+cardcode+" "+vailddate);
				//console.info(vailddate.replace(/-/g,""));替换字符-
				dukaqi.writecardinfo(3,vailddate.replace(/-/g,""));
			}		
			alert('success');
		});
		$(this).attr('disabled',false);
	});
	$("#btn_valid_date_read_card").on('click',function(){
		$(this).attr('disabled',true);
		card_operation(function(flag){
			//console.info(flag);
			var cardcode=dukaqi.readcardinfo(6);
			var vailddate=dukaqi.readcardinfo(3);
			$('#cardno_date').val(cardcode);
			$('#valid_date').val(vailddate.substr(0,4)+"-"+vailddate.substr(4,2)+"-"+vailddate.substr(6,2));
		});
		$(this).attr('disabled',false);
	});
	//有效 
	function card_valid(){
	card_operation(function(flag){
		console.info(flag);
		var result;
		if(flag==7){//无效卡
			result=dukaqi.writecardinfo(4,0);
		}else{
			alert('不是无效卡！！！');
			return;
		}
		if(result==1) alert('卡已有效！！！');
		else alert('有效操作失败！！！');
	});
	}
	//清卡 回收 参数卡 发行卡
	function card_clear(){
	card_operation(function(flag){
		console.info("卡状态: "+flag);
		console.debug(dukaqi);
		console.info($("#dukaqi"));
		switch(flag){
			case 0: alert('正常卡，无法清除！！！');return;
			//case 1: alert('正常卡，无法初始化！！！');return;
			//case 2: alert('参数卡，无法初始化！！！');return;
			//case 4: alert('卡已经发放，无法初始化！！！');return;
			case 3: alert('卡已清除！！！');return;
			case 6: alert('灰卡，无法清除！！！');return;
			case 7: alert('无效卡，无法清除！！！');return;		
		}
		var result=dukaqi.clearcard('0000');
		if(result==0) alert('卡已清除！！！');
		else alert('清除操作失败！！！');
	});
	}
	//初始化函数 
	function card_init(){		
	card_operation(function(flag){		
		//alert(flag);
		switch(flag){
			case 0: alert('正常卡，无法初始化！！！');return;
			//case 1: alert('正常卡，无法初始化！！！');return;
			case 2: alert('参数卡，无法初始化！！！');return;
			//case 4: alert('卡已经发放，无法初始化！！！');return;
			case 6: alert('灰卡，无法初始化！！！');return;
			case 7: alert('无效卡，无法初始化！！！');return;		
		}
		var card_no=$("#card_no").val();	
		if(card_no.length==0){
			alert('输入值为空');
			return;
		}else if(isNaN(card_no)){
			alert('请输入数字');
			return;
		}
		var card_password=$("#card_password").val();
		
		var card_type=$("input[name='card_type']:checked").val();
		if(card_type==1){
			dukaqi.InitCard(card_no, card_password);
			var cardcode=dukaqi.ReadCardInfo(6);
			var result="";
			for(var i=0;i<cardcode.length;i++){
				if(i==6)
					result=result+'j';
				else	
					result=result+cardcode[i];
			}
			dukaqi.WriteCardInfo(6,result);
			dukaqi.WriteCardInfo(2,'1');
		}
		else if(card_type==2){
			dukaqi.InitCard(card_no, card_password);
			dukaqi.WriteCardInfo(2,'2');
		}
		else 
			dukaqi.InitCard(card_no, card_password);
		alert('初始化成功');
		$("#card_no").val(parseInt(card_no)+1);
		});	
	}
	var cardcode,counter,oiltype,mileage,balance,volumn,card_status;
	$("#btn_read_gray_card").on('click',function(){
		$(this).attr('disabled',true);
		//var cardcode,counter,oiltype,card_status;
		card_operation(function(flag){
			//alert(flag);
			card_status=flag
			if(flag!=6){
				//alert("不是灰卡！！！");
				return;
			}		
			cardcode=dukaqi.readcardinfo(6);
			$("#cardcode").text(cardcode);
			var cardtype=dukaqi.readcardinfo(2);
			switch(cardtype){
			case '0': cardtype='实物卡';break;
			case '1': cardtype='价拨卡';break;
			case '2': cardtype='机动卡';break;
			}
			$("#cardtype").text(cardtype);
			oiltype=dukaqi.readcardinfo(11);
			$("#oiltype").text(oiltype);
			gray_flag=dukaqi.readcardinfo(5);
			var gray_str;
			switch(gray_flag){
			case '0': gray_str='正常卡';break;
			case '3': gray_str='圈存记灰';break;
			case '4': gray_str='加油记灰';break;
			default:gray_str='未知类型';
			}
			$("#grayflag").text(gray_str);
			var gray_datetime=dukaqi.readcardinfo(22);
			gray_datetime=gray_datetime.substr(0,4)+"-"+gray_datetime.substr(4,2)+"-"+gray_datetime.substr(6,2)+" "+gray_datetime.substr(8,2)+":"+gray_datetime.substr(10,2);
			$("#graydate").text(gray_datetime);
			$("#carno").text(dukaqi.readcardinfo(9));
			counter=dukaqi.ReadCardInfo(23);
			balance=dukaqi.ReadCardInfo(25);
			mileage=parseInt(counter)+1;
		});
		$(this).attr('disabled',false);
		if(card_status!=6){
			alert("不是灰卡！！！");
			//$("#btn_gray_card").attr('disabled',false);
			return;
		}		
		$.ajax({
			url:'query_gray_card_trade',
			type:'post',
			data:{'cardcode':cardcode,'mileage':mileage,'oiltype':oiltype,'tradetype':gray_flag},
			success:function(data){
				if(data==""){
					$("#query_cardcode").text('查询不到数据');
					$("#query_carno").text("");
					$("#query_depart").text("");
					$("#query_oiltype").text("");
					$("#query_balance").text("");
					$("#query_volumn").text("");
				}
				else{
					$("#query_cardcode").text(data.cardcode);
					$("#query_carno").text(data.carcode);
					$("#query_depart").text(data.departmentname);
					$("#query_oiltype").text(data.oiltypeName);
					$("#query_balance").text(data.balance);
					$("#query_volumn").text(data.volumn);
					balance=data.balance;
					volumn=data.volumn;
				}
			},
			error:function(xhr){
				//alert("错误提示： " + xhr.status + " " + xhr.statusText);
				$("#query_cardcode").text("错误提示： " + xhr.status + " " + xhr.statusText);
				$("#query_carno").text("");
				$("#query_depart").text("");
				$("#query_oiltype").text("");
				$("#query_balance").text("");
				$("#query_volumn").text("");

			}
		});
		$("#btn_gray_card").attr('disabled',false);
	});
	$("#btn_gray_card").on('click',function(){		
		$(this).attr('disabled',true);		
		card_operation(function(flag){
			console.info(flag);
			if(flag!=6){
				alert(cardcode.substr(6,6)+": 不是灰卡！！！");
				return;
			}
			var ccode=dukaqi.readcardinfo(6);
			console.info(ccode+" "+cardcode);
			if(ccode!=cardcode){
				alert('请放置卡号为:  '+cardcode.substr(6,6));
				return;
			}
			console.info("--"+mileage+"--"+balance+"--"+volumn);
			dukaqi.writecardinfo(23,mileage);	//消费次数
			dukaqi.writecardinfo(21,String(balance).replace('.',''));	//余额
			dukaqi.writecardinfo(20,String(volumn).replace('.',''));	//加油量
			dukaqi.writecardinfo(5,0);			//记灰标志
			$.ajax({
				url:'update_gray_card_trade',
				type:'post',
				data:{'cardcode':cardcode,'mileage':mileage},
				success:function(data){
					alert(data);
				},
				error:function(xhr){
					alert("错误提示： " + xhr.status + " " + xhr.statusText);
				}
			});
		});
		//$(this).attr('disabled',false);
	});
	var ccc=0;
    setInterval(function(){
    	card_operation(function(flag){
			//alert(flag);
			
			card_status=flag
			$("#card_status").html(flag+': '+ccc);
			ccc++;
			/* if(flag!=6){
				//alert("不是灰卡！！！");
				return;
			} */
			var s=(String(flag)).length;
			console.info(flag+' '+s)
			if(s>1){
				$("#cardcode").text('');
				$("#cardtype").text('');
				$("#carno").text('');
				$("#oiltype").text('');
				$("#grayflag").text('');
				$("#graydate").text('');
				return;
			}
			switch(parseInt(flag)){
				case 0: $("#card_status").text('正常卡');break;
				case 1: $("#card_status").text('没有连接');break;
				case 2: $("#card_status").text('参数卡');break;
				case 3: $("#card_status").text('不是本系统的卡');break;
				case 4: $("#card_status").text('密码错误');break;
				case 5: $("#card_status").text('卡没有经过发行');break;
				case 6: $("#card_status").text('灰卡');break;
				case 7: $("#card_status").text('无效卡');break;
			}
			cardcode=dukaqi.readcardinfo(6);
			$("#cardcode").text(cardcode);
			var cardtype=dukaqi.readcardinfo(2);
			switch(cardtype){
			case '0': cardtype='实物卡';break;
			case '1': cardtype='价拨卡';break;
			case '2': cardtype='机动卡';break;
			}
			$("#cardtype").text(cardtype);
			oiltype=dukaqi.readcardinfo(11);
			$("#oiltype").text(oiltype);
			gray_flag=dukaqi.readcardinfo(5);
			var gray_str;
			switch(gray_flag){
			case '0': gray_str='正常卡';break;
			case '3': gray_str='圈存记灰';break;
			case '4': gray_str='加油记灰';break;
			default:gray_str='未知类型';
			}
			$("#grayflag").text(gray_str);
			var gray_datetime=dukaqi.readcardinfo(22);
			gray_datetime=gray_datetime.substr(0,4)+"-"+gray_datetime.substr(4,2)+"-"+gray_datetime.substr(6,2)+" "+gray_datetime.substr(8,2)+":"+gray_datetime.substr(10,2);
			$("#graydate").text(gray_datetime);
			$("#carno").text(dukaqi.readcardinfo(9));
			counter=dukaqi.ReadCardInfo(23);
			balance=dukaqi.ReadCardInfo(25);
			mileage=parseInt(counter)+1;
			$("#balance").text(dukaqi.readcardinfo(21));
			$("#tradecounter").text(dukaqi.readcardinfo(23));
			$("#validdate").text(dukaqi.readcardinfo(3));
		});
    }, 5000);
</script>
</body>
</html>
