<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
<head>
  <meta charset="utf-8">
  <title>减免车型信息管理</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <th:block th:replace="head-css.html"></th:block>
  
 </head>
<body>	
<div class="box">          
<div class="box-header with-border">
	<h3 class="box-title">减免车型信息表</h3>
	
</div>
<div class="box-body with-border">
	<div id="toolbar" class="btn-group" style="font-size:24px;position:absolute;top:50px;">	
		<button id="addRow" type="button"  class="btn  btn-default">
			<span class="glyphicon glyphicon-plus" aria-hidden="false"></span>新增
		</button>
		<button id="updateRow" type="button" class="btn  btn-default">
			<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
		</button>
		<button id="deleteRow" type="button" class="btn  btn-default">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
		</button>	
		<button id="confirmRow" type="button" class="btn  btn-default" disabled>
			<span class="glyphicon glyphicon-ok" aria-hidden="false"></span>确定
		</button>	
	</div>
	<table id="table_infos" class="table table-hover table-stripe table-bordered table-condensed">
	<thead>	
		<tr style="font-size:16px;background-color:rgb(237, 241, 244);align:center">
		<th style="width:2%;text-align:center">序号</th>
		<th class="order-column" style="width:10%">车型名称</th>
		<th class="order-column" style="width:10%">减免代码</th>
		<th class="order-column" style="width:10%">减免目录批次</th>
		<th class="order-column" style="width:10%">能源种类</th>
		<th class="order-column" style="width:10%">厂牌</th>
		<th class="order-column" style="width:10%">金友车辆型号编码</th>
		<th class="order-column" style="width:10%">启用日期起</th>
		<th class="order-column" style="width:10%">启用日期止</th>
		<th class="order-column" style="width:10%">车辆税目大类</th>
		</tr>
	</thead>
	</table>	
</div>
</div>
<th:block th:replace="head-js.html"></th:block>
<script type='text/javascript' th:inline="javascript">
function loadtable(){
	table.ajax.reload();
}
var table=$('#table_infos').DataTable({
    'pageLength' : 10,
	'lengthChange' : false,
	'searching' : true,
	'info' : true,
	'autoWidth' : false,
	"bDestroy":true,
   	"bRetrieve":true,   		 
   	"select": {
   	    style: 'single',
   	    info: ''
   	},   	   
   	"sort": false,
   	//"order": [1,'asc'],  	
	//"aoColumnDefs":[{"bSortable": false,"aTargets":[0,1,2,3,4,5]}],
	"ajax": "jianmianchexing/datas",
	"columns": [
		{ "data": "id"},
		{ "data": "model"},
        { "data": "jmdm"},
        { "data": "pc"},
        { "data": "nyzl"},
        { "data": "cp"},
        { "data": "jyclxhbm"},
        { "data": "qyrqq"},
        { "data": "qyrqz"},
        { "data": "cldl"}
    ],
    "oLanguage": { //国际化配置  
	    "sProcessing" : "正在获取数据，请稍后...",    
		"sLengthMenu" : "显示 _MENU_ 条",    
		"sZeroRecords" : "没有您要搜索的内容",    
		"sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",    
		"sInfoEmpty" : "记录数为0",    
		"sInfoFiltered" : "(全部记录数 _MAX_ 条)",    
		"sInfoPostFix" : "",    
		"sSearch" : "查询",
		"sUrl" : "",    
		"oPaginate": {    
			"sFirst" : "首页",    
			"sPrevious" : "<<",    
			"sNext" : ">>",    
			"sLast" : "尾页"    
		}
    }    	
}); 
</script>
</body>
</html>
