<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>车船税减免政策辅助系统</title>
  <th:block th:replace="head-css.html"></th:block>
</head>
<body class="hold-transition skin-blue">
<div class="wrapper">
  <th:block th:replace="head.html"></th:block>
  <th:block th:replace="menu.html"></th:block>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">  
	<th:block th:replace="index.html"></th:block>
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 7.4.0
    </div>
    <strong>Copyright &copy; 2018-2022 <a href="#">德润科技</a>.</strong> All rights
    reserved.
  </footer>
  <div class="control-sidebar-bg"></div>
</div>
<th:block th:replace="head-js.html"></th:block>
<script type="text/javascript">		
function loadhtml(url){	
	$.ajaxSetup ({ cache: false });
	/* $(".content").load("<i class='fa fa-refresh fa-spin'></i>"); */
	/* $(".content").load('loading',function(response,status,xhr){
		$(".content").html(response);
	}); */
	$(".content").load(url,function(response,status,xhr){
		$(".content").html(response);
	});
}
</script>
</body>
</html>
