
<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- search form -->
	  <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="业务功能查询...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
        </div>      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
       <!--  <li class="header">主菜单</li> -->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>车辆减免审核</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#" onclick="loadhtml('audit.htm?param=xny');"><i class="fa fa-circle-o"></i>新能源减免审核</a></li>
            <li><a href="#" onclick="loadhtml('audit.htm?param=jm');"><i class="fa fa-circle-o"></i>审核减免审核</a></li>
            <li><a href="#" onclick="loadhtml('audit.htm?param=zsj');"><i class="fa fa-circle-o"></i>总审核</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>审核查询</span>
            <!-- <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span> -->
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#" onclick="loadhtml('dataquery.htm?type=YJWJ')"><i class="fa fa-circle-o"></i>应减未减</a></li>            
            <li><a href="#" onclick="loadhtml('dataquery.htm?type=DJ')"><i class="fa fa-circle-o"></i>应减多减</a></li>
            <li><a href="#" onclick="loadhtml('dataquery.htm?type=SJ')"><i class="fa fa-circle-o"></i>应减少减</a></li>
            <li><a href="#" onclick="loadhtml('dataquery.htm?type=BYJQJ')"><i class="fa fa-circle-o"></i>不应减却减</a></li>
          </ul>
        </li>       
        <li class="treeview">
          <a href="#">
            <i class="fa fa-th"></i>
            <span>基础系统管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#" onclick="loadhtml('baoxiangongsi.htm')"><i class="fa fa-circle-o"></i>保险公司信息</a></li>
            <li><a href="#" onclick="loadhtml('jianmianchexing.htm')"><i class="fa fa-circle-o"></i>新能源减免车型</a></li>
            <li><a href="#" onclick="loadhtml('jianmianleixing.htm')"><i class="fa fa-circle-o"></i>减免类型</a></li>
            <li><a href="#" onclick="loadhtml('userinfo.htm')"><i class="fa fa-circle-o"></i>用户信息管理</a></li>
          </ul>
        </li>       
        <li><a href="#" onclick="loadhtml('zhengce.htm')"><i class="fa fa-book"></i> <span>减免政策信息</span></a></li>
        <li class="header">系统提示信息</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>入库车辆数量</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>政策已更新</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>审核中......</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>