  <header class="main-header"> 
    <div class="logo" style="background:url(img/top-logo.jpg) no-repeat;background-size:100% 100%;">
    	<span class="logo-mini"></span>
    	<span class="logo-lg"><span style="position:relative;left:20%">油料管理</span></span>
    </div>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" style="background:url(img/banner.jpg) no-repeat;background-size:100% 100%;">
      <!-- Sidebar toggle button-->
      <a class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="img/admin-logo.gif" class="user-image" alt="User Image">
              <span class="hidden-xs">
              	<strong th:text="${departmentname}"></strong>
                  <!-- <small th:text="${rolename}"></small> -->
                  <small th:text="${username}"></small>
                  <small th:text="${rolename}"></small>
              </span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src=" img/admin-logo.gif" class="img-circle" alt="User Image">
                <p>
                  	<strong th:text="${'部门:'+departmentname}"></strong>
                  	<small th:text="${'角色:'+rolename+'  用户名:'+username}"></small>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">简介</a>
                </div>
                <div class="pull-right">
                  <a href="logout" class="btn btn-default btn-flat">退出系统</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>