<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
<head>
  <meta charset="utf-8">
  <title>自购实物油料统计表</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <th:block th:replace="head-css.html"></th:block>
  <style type="text/css">
  .dataTables_filter,.dataTables_info,.dataTables_paginate,#table_infos{
  	position:relative;
  	top:-40px;
  }
  </style>
 </head>
<body>	
<div class="box">
<div class="box-header with-border">
    <span style="font-size:20px;" >自购实物油料录入</span>	
	<p class="text-muted well well-sm" style="position:absolute;top:-2px;left:20%">录入自购主油数量，增加相应的油料指标，供IC卡充值使用。</p>
    <div class="btn-group" style="position:absolute;left:75%">	
		<button id="addRow" type="button"  class="btn  btn-default">
			<span class="glyphicon glyphicon-plus" aria-hidden="false"></span>新增
		</button>		
		<button  id="updateRow" type="button" class="btn  btn-default">
			<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
		</button>
		<button id="deleteRow" type="button" class="btn  btn-default">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
		</button>	
		<button id="confirmRow" type="button" class="btn  btn-default" disabled>
			<span class="glyphicon glyphicon-ok" aria-hidden="false"></span>确定
		</button>	
	</div>	
</div>
<div class="box-body with-border">	
	<!-- <pre>
<span style="color:red;font-size:18px;">注意：</span>	1、自购主油录入数量后，会相应增加油料指标，可供IC卡充值使用; 2、必须如实录入实际存入油罐的油品和数量，确保帐物相符;
        3、该数量会对系统运行产生影响，若不按实际录入，总部油料监控中心发现后将予以通报批评，并追究当事人责任；若给系统运行造成后果的，按纪律条令有关条款对当事人进行处理。	
	</pre> -->
	<table>
	<tr>
        <td style="text-align:left;vertical-align:middle;width:6%;"><input id="rowId" type="text" class="form-control" disabled></td>
	    <td style="width:20%"><input id="djhId" type="text" class="form-control" placeholder="请输入单据号"></td>
	    <td style="width:14%"><input id="dateId" type="text" class="form-control" disabled placeholder="系统生成 不需要输入"></td>
	    <td style="width:12%">
	    <select id="oiltypeId" class="form-control select2" style="width: 100%;">
            <option value="all">请选择油品</option>
            <option th:each="obj:${oilTypeInfos}" th:value="${obj.name}" th:text="${obj.name}">
	        </option>
       	</select>
	    </td>	   
	    <td style="width:10%"><input id="changeNumberId" type="text" class="form-control" placeholder="请输入自购升数"></td>
	    <td style="width:10%"><input id="changeNumberTId" type="text" class="form-control" disabled></td>	
	</tr>
	</table>
</div>
</div>

<div class="box">          
<div class="box-header with-border">
	<h3 class="box-title">自购实物油料统计表</h3>
	
</div>
<div class="box-body with-border">
	<table id="table_infos" class="table table-hover table-stripe table-bordered table-condensed">
	<thead>	
		<tr style="font-size:16px;background-color:rgb(237, 241, 244);align:center">
		<th style="width:6%">序号</th>
		<th class="order-column" style="width:20%">单据号</th>
		<th class="order-column" style="width:14%">操作日期</th>
		<th class="order-column" style="width:12%">油品名称</th>
		<th class="order-column" style="width:10%">数量(升)</th>
		<th class="order-column" style="width:10%">数量(吨)</th>	
		</tr>
	</thead>
	</table>	
</div>
</div>
<th:block th:replace="head-js.html"></th:block>
<script type='text/javascript' th:inline="javascript">
function loadtable(){
	table.ajax.reload();
}
var table=$('#table_infos').DataTable({
    'pageLength' : 8,
	'lengthChange' : false,
	'searching' : true,
	'info' : true,
	'autoWidth' : false,
	"bDestroy":true,
   	"bRetrieve":true,   		 
   	"select": {
   	    style: 'single',
   	    info: ''
   	},   	   
   	"sort": false,
   	//"order": [1,'asc'],  	
	//"aoColumnDefs":[{"bSortable": false,"aTargets":[0,1,2,3,4,5]}],
	"ajax": "zigoushiwuyouliao/datas",
	"columns": [
		//{ "data": "id"},
		{ "data": "incomID"},
        { "data": "danjuhao"},
        { "data": "provideDate2"},
        { "data": "oilName"},
        { "data": "inputGuideline2"},
        { "data": "tonNum"}
    ],
    "oLanguage": { //国际化配置  
	    "sProcessing" : "正在获取数据，请稍后...",    
		"sLengthMenu" : "显示 _MENU_ 条",    
		"sZeroRecords" : "没有您要搜索的内容",    
		"sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",    
		"sInfoEmpty" : "记录数为0",    
		"sInfoFiltered" : "(全部记录数 _MAX_ 条)",    
		"sInfoPostFix" : "",    
		"sSearch" : "查询",
		"sUrl" : "",    
		"oPaginate": {    
			"sFirst" : "首页",    
			"sPrevious" : "<<",    
			"sNext" : ">>",    
			"sLast" : "尾页"    
		}
    }    	
});  
$("#table_infos").on("click","tr",function(){    	
    var local=$(this).children("td");
    $("#rowId").val(local.eq(0).text());
    $("#djhId").val(local.eq(1).text());
    $("#dateId").val(local.eq(2).text());    
    $("#oiltypeId").val(local.eq(3).text());
    $("#changeNumberId").val(local.eq(4).text());
    $("#changeNumberTId").val(local.eq(5).text());
}); 
//添加一条记录
$('#addRow').on('click',function(){  
  	$(this).attr('disabled',true)
   	var danjuhao=$("#djhId").val();
  	if(danjuhao==''){
  		alert_advance_info('请输入单据号');
   		$(this).attr('disabled',false)
   		return;
   	}  		
   	var oiltype=$("#oiltypeId").val();
   	if(oiltype=='all'){
  		alert_advance_info('请选择油品类型');
   		$(this).attr('disabled',false)
   		return;
   	}  	
   	var changeNumber=$("#changeNumberId").val();
   	if(changeNumber==''){
  		alert_advance_info('请输入自购升数');
   		$(this).attr('disabled',false)
   		return;
   	}  	
  	var result=confirm("确定添加"+danjuhao+" "+oiltype+" "+changeNumber);
   	if(result==false) {
   		$(this).attr('disabled',false)
   		return;
   	}
   	$.ajax({
   		url:"zigoushiwuyouliao/edit",
   		async:false,
   		type: 'post',
   		data:{"action":"insert","danjuhao":danjuhao,"oilName":oiltype,"inputGuideline2":changeNumber},
   		success:function(result){
			alert_advance_info(result);
		}
   	});
   	$(this).attr('disabled',false)
   	loadtable();
});
//删除一条记录
$('#deleteRow').on('click',function(){
	
	$(this).attr('disabled',true)
    var rowId=$("#rowId").val();
    var danjuhao=$("#djhId").val();
    var oiltype=$("#oiltypeId").val();
    var changeNumber=$("#changeNumberId").val(); 
    var result=confirm("确定删除"+danjuhao+" "+oiltype+" "+changeNumber);
    if(result==false){
    	$(this).attr('disabled',false)
    	return;    	
    }
    $.ajax({
    	url:"zigoushiwuyouliao/edit",
    	async:false,
    	type: 'post',
    	data:{"action":"delete","incomID":rowId},
    	success:function(result){
			alert_advance_info(result);
		}
    });
    if(result==true)
    	table.row('.selected').remove().draw( false );
    $(this).attr('disabled',false)
    loadtable();
});
//更新    
$('#updateRow').on('click',function(){
	
	$(this).attr('disabled',true)
    var rowId=$("#rowId").val();
    var danjuhao=$("#djhId").val();
    var oiltype=$("#oiltypeId").val();
    var changeNumber=$("#changeNumberId").val();    	
    if(rowId==''){
    	alert_advance_info('请选择一条操作记录')
    	$(this).attr('disabled',false)
    	return
    }	
    //console.info(danjuhao+' '+oiltype+' '+changeNumber);
    var result=confirm("确定更新"+danjuhao+' '+oiltype+' '+changeNumber+"信息");
    if(result==false){
    	$(this).attr('disabled',false)
    	return;
    }
    $.ajax({
    	url:"zigoushiwuyouliao/edit",
    	type: 'post',
    	async:false,
    	data:{"action":"update","incomID":rowId,"danjuhao":danjuhao,"oilName":oiltype,"inputGuideline2":changeNumber},
    	success:function(result){
			alert_advance_info(result);
		}
    });
    $(this).attr('disabled',false)
    loadtable();
});
</script>
</body>
</html>
